<!DOCTYPE html>
<html lang="en">

<head>
  <title>2048 Web Service</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="js/axios.js"></script>
  <script src="js/jquery.min.js"></script>
  <script  src="js/functions.js"></script>
  <script src="js/bootstrap3/bootstrap.min.js"></script>
  <link rel="stylesheet"  href="css/bootstrap3/bootstrap.css" >
  <script src="https://momentjs.com/downloads/moment.js"></script>

</head>

<body>